*{
    margin: 0;
    padding: 0;
}

.wrapper{
    display: flex;
    justify-content: center;
    position: relative;
}

.rectangle{
    width: 20px;
	height: 55vh;
    background: white;
    border: 2px black solid;
    position: absolute;
    top: 10vh;
}

.rectangle::before{
    content: "";
    width: 0;
	height: 0;
    border-right: 80px solid blue;
    border-bottom: 4vh solid transparent;
    position: absolute;
    right: 20px;
}

.rectangle__small-flag-two{
    content: "";
    width: 0;
	height: 0;
    border-right: 80px solid blue;
    border-top: 4vh solid transparent;
    position: absolute;
    right: 20px;
}

.rectangle__big-before-flag{
    content: "";
    width: 0;
    height: 0;
    border-top: 36vh solid transparent;
    border-right: 350px solid blue;
    position: absolute;
    right: 20px;
    top: 9vh;
}

.rectangle::after{
    content: "";
    width: 0;
    height: 0;
    border-bottom: 45vh solid blue;
    border-right: 350px solid transparent;
    position: absolute;
    left: 20px;
}


.trapezoid-circle-cont{
    width: 350px;
    height: 150px;
    background-color: red;
    position: absolute;
    top: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trapezoid-circle-cont:before {
    position: absolute;
    content: " ";
    top: 0;
    left: -149px;
    width: 0;
    height: 0;
    border-top: 150px solid red;
    border-left: 150px solid transparent;
}
.trapezoid-circle-cont:after {
    position: absolute;
    content: " ";
    top: 0;
    right: -149px;
    width: 0;
    height: 0;
    border-top: 150px solid red;
    border-right: 150px solid transparent;
}

.trapezoid-circle{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background: white;
    position: relative;;
}

.trapezoid-circle::before{
    content: "";
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background: white;
    position: absolute;
    right: 125px;
}

.trapezoid-circle::after{
    content: "";
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background: white;
    position: absolute;
    left: 125px;
}